.game-page {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    flex-shrink: 0;

    width: 100vw;
    height: 100vh;

    background-color: lightgoldenrodyellow;

    gap: 2rem;
}

.header img {
    filter: brightness(2);

    cursor: pointer;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    gap: 2rem;
}

.game-container span.game-title {
    font-family: Inter, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    opacity: 0.4;
}

.player-field {
    display: grid;
    gap: 0.4rem;
    place-items: center;
}

.player-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: #e7e7c2;
    border-radius: 0.4rem;

    cursor: pointer;

    transition: width 0.1s ease, height 0.1s ease, border-radius 0.1s ease;
}

.player-button:hover {
    width: 90%;
    height: 90%;

    border-radius: 0.2rem;
}

.player-button.winning-field {
    filter: hue-rotate(40deg);
}

.player-button.unselectable:hover {
    width: 100%;
    height: 100%;

    border-radius: 0.4rem;

    background-color: #ccccac;
}

.player-button img {
    transition: scale 0.2s ease;

    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;

    -webkit-user-drag: none;
}

.player-button:hover img {
    scale: 0.8;
}

.player-button.unselectable:hover img {
    scale: 1;
}

